.profile-card {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 1000; 
}

.card-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 50%; 
  max-width: 400px; 
}